<p>home-page works!</p>



<audio id="ringtone" src="assets/sounds/incoming.mp3" loop></audio>
<audio id="ringbacktone" src="assets/sounds/outgoing.mp3" loop></audio>
<audio id="dtmfTone" src="assets/sounds/dtmf.mp3"></audio>


<audio id="remoteAudio" controls></audio>
<video id="remoteVideo" controls></video>
<!-- <br /><br /><button (click)="connectPlus()">Connect Plus</button>

<br /><br /><button (click)="login()">Login</button>

<br /><br /><button (click)="disconnect()">Disconnect</button> -->

<br /><br /> <input type="tel" name="phone" id="phone"> <button (click)="call()">Call</button>